<div id="ajax-page" class="ajax-page-content">
    <div class="ajax-page-wrapper">
        <div class="ajax-page-nav">
            <div class="nav-item ajax-page-prev-next">
                <a class="ajax-page-load" href="spark-concepts.html"><i class="lnr lnr-chevron-left"></i></a>
                <a class="ajax-page-load" href="spark-concepts.html"><i class="lnr lnr-chevron-right"></i></a>
            </div>
            <div class="nav-item ajax-page-close-button">
                <a id="ajax-page-close-button" href="#"><i class="lnr lnr-cross"></i></a>
            </div>
        </div>

        <div class="ajax-page-title">
            <h1>Specks</h1>
        </div>

        <div class="row">
            <div class="col-sm-8 col-md-8 portfolio-block">
                <div class="owl-carousel portfolio-page-carousel">
                    <div class="item">
                        <img src="./img/specks.jpg" alt="" />
                    </div>
                    <div class="item">
                        <img src="./img/specks2.jpg" alt="" />
                    </div>
                    <div class="item">
                        <img src="./img/specks3.jpg" alt="" />
                    </div>
                    <div class="item">
                        <img src="./img/specks4.jpg" alt="" />
                    </div>
                    <div class="item">
                        <img src="./img/specks5.jpg" alt="" />
                    </div>
                </div>

                <script type="text/javascript">
                    jQuery(document).ready(function($){
                        $('.portfolio-page-carousel').imagesLoaded(function(){
                            $('.portfolio-page-carousel').owlCarousel({
                                smartSpeed:1200,
                                items: 1,
                                loop: true,
                                dots: true,
                                nav: true,
                                navText: false,
                                margin: 10,
                                autoHeight:true
                            });
                        });
                    });
                </script>
            </div>

            <div class="col-sm-4 col-md-4 portfolio-block">
                <!-- Project Description -->
                <div class="project-description">
                    <div class="block-title">
                        <h3>Description</h3>
                    </div>
                    <ul class="project-general-info">
                        <li><p><i class="fa fa-user"></i> George Bolmida</p></li>
                        <li><p><i class="fa fa-globe"></i> <a href="https://devpost.com/software/specks-the-data-driven-hardware-assistant" target="_blank">https://devpost.com/</a></p></li>
                        <li><p><i class="fa fa-calendar"></i> 2019</p></li>
                    </ul>

                    <p class="text-justify">
                        What it does<br>
                        Specks is a service for interested computer video game players who aren’t sure where to start. You begin by searching game titles you maybe have heard being thrown around or ones you are already familiar with. After selecting the games you would like to play, the site automatically selects parts and creates a compatible system based on the highest minimum specifications required by the selected games. We try our best to accommodate the needs of your provided budget as well as meeting the required performance specs of the chosen games.
                        <br>
                        How we built it<br>
                        We pulled a data set of 13,000 games on steam and gathered a ton of component specs in .csv format. Using these data sets we compiled a MySQL data set. We then created an interface for Specks using HTML5, CSS, and javascript. All of our graphics were creative commons or created with GIMP. The back end is all done in PHP. We implemented a search feature, session-based games lists, and a full functional, data driven, hardware recommendation system based on the user’s selected games and a user-defined budget. All of the software and hardware data is all stored in a MySQL database on either a local or remote server, with working functionality for both. PHP also allows us to change elements on webpages based on database-supplied parameters, such as the Operating System compatibility section on the game information page.</p>
                    <!-- /Project Description -->

                    <!-- Technology -->
                    <div class="tags-block">
                        <div class="block-title">
                            <h3>Technology</h3>
                        </div>
                        <ul class="tags">
                            <li><a>HTML5</a></li>
                            <li><a>CSS3</a></li>
                            <li><a>javascript</a></li>
                            <li><a>MySQL</a></li>
                            <li><a>PHP5</a></li>
                        </ul>
                    </div>
                    <!-- /Technology -->
                </div>
                <!-- Project Description -->
            </div>
        </div>
    </div>
</div>
